---
applications:
  - name: $ENV-test-rp-service
    routes:
      - route: $ENV-test-rp.apps.internal
    memory: 1G
    buildpack: java_buildpack
    env:
      CONFIG_FILE: /app/test-rp/test-rp.yml
      LOG_PATH: /app/test-rp/logs
      LOG_LEVEL: INFO
      TEST_RP_URL: https://$ENV-test-rp.cloudapps.digital
      TEST_RP_MSA_METADATA_URL: http://$ENV-test-rp-msa.apps.internal:8080/matching-service/SAML2/metadata
      METADATA_ENTITY_ID: $METADATA_ENTITY_ID
      TRUSTSTORE_PATH: /app/test-rp/truststores/$TRUSTSTORE_NAME
      TRUSTSTORE_PASSWORD: puppet
      PRIVATE_BETA_USER_ACCESS_RESTRICTION_ENABLED: $PRIVATE_BETA
      SHOULD_SHOW_START_WITH_EIDAS_BUTTON: true
      ENCRYPTION_KEY: $ENCRYPTION_KEY
      ENCRYPTION_CERT: $ENCRYPTION_CERT
      SIGNING_KEY: $SIGNING_KEY
      SIGNING_CERT: $SIGNING_CERT
